.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 80px;
    padding-top: 40px;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--languide-blue);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: var(--languide-blue);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0056d4;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 60px 80px;
    position: relative;
    overflow: hidden;
}

.hero-text {
    width: 50%;
}

.hero-text h1 {
    font-size: 2.2rem;
    color: var(--languide-blue);
    margin-bottom: 20px;
}

.hero-text p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    color: var(--languide-main-text);
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.hero-image {
    width: 75%;
    margin-top: -14.58%;
    display: flex;
    justify-content: center;
    position: relative;
    top: 20vh;
}

.hero-image img {
    display: block;
    width: 100%;
    max-width: 900px;
}

.bg-shape {
    position: absolute;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
}

.shape-1 {
    bottom: -350px;
    right: -100px;
    width: 1090px;
    rotate: 40deg;
}

.hero-text,
.hero-image {
    position: relative;
    z-index: 1;
}

@media (max-width: 480px) {
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
    }

    .hero-text {
        width: 100%;
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: 10px;
    }

    .hero-image {
        order: 1; 
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
        position: static;
    }

    .buttons {
        order: 2; 
        display: flex;
        flex-direction: column;
        gap: 10px;
        align-items: center;
    }
}

