:root {
    --languide-blue: #008cff;
    --languide-dark-blue: #0056d4;
    --languide-white: #ffffff;
    --languide-main-text: #000000;
    --languide-secondary-text: #787878;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

html {
    overflow: hidden;
}

body {
    background-color: var(--languide-white);
    color: var(--languide-main-text);
    overflow: hidden;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 20px 80px 20px 80px;
    z-index: 2000;
}

.navbar nav {
    width: 100%;
}

.logo {
    font-size: 1.9rem;
    font-weight: 700;
    color: var(--languide-blue);
}

.nav-links {
    margin-left: 2rem;
    justify-content: flex-end;
    list-style: none;
    display: flex;
    gap: 50px;
}

.nav-links a {
    text-decoration: none;
    color: var(--languide-blue);
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: var(--languide-dark-blue);
}

.hero {
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 120px 80px;
    justify-content: center;
    z-index: 1;
}

.hero-content {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    z-index: 1;
}

.hero-content h1 {
    font-size: 2.4rem;
    color: var(--languide-blue);
}

.hero-description {
    max-width: 500px;
}

.hero-description p {
    font-size: 1.2rem;
    color: var(--languide-main-text);
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    gap: 10px;
    z-index: 2;
}

.buttons a {
    text-align: center;
}

.hero-img {
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 1;
}

.hero-img img {
    width: 700px;
    min-width: 350px;
    max-width: 700px;
    display: block;
}

.hero-img.desktop {
    display: flex;
}

.hero-img.mobile {
    display: none;
}

.bg-shape {
    position: fixed;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
}

.shape-1 {
    bottom: -340px !important;
    left: 600px !important;
    width: 1090px;
    rotate: 25deg;
}

@media (max-width: 1200px) {
    .hero-img.desktop img {
        margin-top: 5.5rem;
        width: 600px;
    }

}

@media (max-width: 1024px) {
    .hero {
        flex-direction: column;
        padding-top: 100px;
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hero-content {
        gap: 5px;
        align-items: flex-start;
    }

    .hero-content h1 {
        font-size: 1.9rem;
        color: var(--languide-blue);
    }

    .hero-description p {
        font-size: 1.1rem;
    }

    .hero-img.mobile {
        justify-content: flex-start;
        align-items: flex-start;
    }

    .hero-img.mobile img {
        width: 380px;
    }

    .buttons {
        flex-direction: row;
        justify-content: flex-start;
        margin-left: 4rem;
    }

    .hero-img.desktop {
        display: none;
    }

    .hero-img.mobile {
        display: flex;
    }
}

@media (max-width: 768px) {
    .navbar {
        justify-content: space-between !important;
    }
}

@media (max-width: 600px) {
    .navbar {
        visibility: hidden;
    }

    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 20px;
        padding: 40px 20px;
    }

    .hero-content {
        align-items: center;
        justify-content: center;
        text-align: left;
    }

    .hero-content h1 {
        margin-top: 4rem;
    }

    .hero-content h1,
    .hero-description {
        width: 100%;
        max-width: 450px;
    }

    .hero-img.mobile img {
        justify-content: center;
    }

    .buttons {
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 180px;
        align-items: center;
        justify-content: center;
        gap: 10px;
        margin-top: 0;
        margin-left: 0;
    }
    .buttons a {
        width: 100%;
        text-align: center;
    }

    .bg-shape {
        position: absolute;
        z-index: 0;
        opacity: 0.9;
        pointer-events: none;

    }
    .shape-1 {
        bottom: 15vh !important;
        left: 60px !important;
        width: 400px !important;
        rotate: 25deg;
    }
}
