:root {
    --languide-blue: #008cff;
    --languide-white: #ffffff;
    --languide-main-text: #000000;
    --languide-secondary-text: #787878;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Oswald", sans-serif;
}

body {
    background-color: var(--languide-white);
    color: var(--languide-main-text);
    overflow: hidden;
}


.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 40px 80px 20px 80px;
    position: relative;
    z-index: 10;
}

.logo {
    font-size: 1.4rem;
    font-weight: 700;
    color: var(--languide-blue);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 150px;
}

.nav-links a {
    text-decoration: none;
    color: var(--languide-blue);
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links a:hover {
    color: #0056d4;
}

.hero {
    display: grid;
    grid-template-columns: 1fr 1fr;       
    grid-template-rows: auto auto;       
    gap: 10px;
    align-items: start;
    position: relative;
    overflow: hidden;
    padding: 60px 80px;
}

.hero-text {
    grid-area: 1 / 1 / 2 / 2; 
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 20px;
    position: relative;
    z-index: 1;
}

.hero-text h1 {
    font-size: 2.2rem;
    color: var(--languide-blue);
}

.hero-text p {
    font-size: 1.1rem;
    color: var(--languide-main-text);
    line-height: 1.6;
}

.buttons {
    display: flex;
    flex-direction: column;   
    align-content: flex-start; 
    gap: 10px; 
    margin-top: -10vh;
}

.hero-image {
    grid-area: 1 / 2 / 3 / 3; 
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.hero-image img {
    width: 100%;
    max-width: 900px;
    display: block;
}

.bg-shape {
    position: absolute;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
}

.shape-1 {
    bottom: -340px !important;
    left: 480px !important;
    width: 1090px;
    rotate: 25deg;
}

@media (max-width: 480px) {
    .navbar {
        visibility: hidden;
    }
    
    .hero {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 20px;
        padding: 40px 20px;
    }

    .hero-text {
        order: 1;
        text-align: center;
        gap: 10px;
    }

    .hero-image {
        order: 2;
        width: 90%;
        max-width: 400px;
        margin: 0 auto;
    }

    .buttons {
        order: 3;
        width: 100%;
        display: flex;
        flex-direction: column;
        max-width: 180px;
        align-items: center;
        gap: 10px;
        margin-top: 0;
        z-index: 1;
    }
    .buttons a {
        width: 100%;
        text-align: center;
    }

    .bg-shape {
        position: absolute;
        z-index: 0;
        opacity: 0.9;
        pointer-events: none;
    }
    .shape-1 {
        bottom: 12vh !important;
        left: 21px !important;
        width: 400px !important;
        rotate: 25deg;
    }
}
