:root {
    --languide-blue: #008cff;
    --languide-white: #ffffff;
    --languide-main-text: #000000;
    --languide-gray: #555555;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}


html,
body {
    width: 100%;
    height: 100%;
    background-color: var(--languide-white);
    overflow-x: clip;
    overflow-y: scroll;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100vw;
}


.bg-shape {
    position: fixed;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
    user-select: none;
    max-width: none;
    will-change: transform;
}

.shape-1 {
    bottom: -200px;
    left: -150px;
    width: 900px;
    transform: rotate(20deg);
}

.shape-2 {
    top: -150px;
    right: -150px;
    width: 600px;
    transform: rotate(-15deg);
}


.login-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-card {
    background-color: var(--languide-white);
    padding: 40px 50px;
    border: solid var(--languide-blue) 1px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease, opacity 0.4s ease;
}

.login-card h2 {
    margin-bottom: 25px;
    font-weight: 600;
    color: var(--languide-main-text);
}


form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

label {
    font-size: 0.9rem;
    color: var(--languide-gray);
}

input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
}

input:focus {
    border-color: var(--languide-blue);
}

.btn-primary{
    border:none;
    margin: 0 auto;
    width: 100%;
}

.links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.links a {
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;
}

.links a:hover {
    color: var(--languide-blue);
    text-decoration: underline;
}


@media (max-width: 480px) {}