/* Variables */

:root {
    --languide-blue: #008cff;
    --languide-white: #ffffff;
    --languide-main-text: #000000;
    --languide-secondary-text: #787878;
    --languide-gray: #555555;
    --languide-correct: #00DD00;
    --languide-wrong: #C8102E;
}

/* HTML y cuerpos de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.landing-page-body {
    background-color: var(--languide-white);
    color: var(--languide-main-text);
    overflow: hidden;
}

html,
.login-page-body {
    width: 100%;
    height: 100%;
    background-color: var(--languide-white);
    overflow-x: clip;
    overflow-y: scroll;
}

.login-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

/* Imágenes y figuras*/

.bg-shape {
    position: fixed;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
    user-select: none;
    max-width: none;
    will-change: transform;
}

.shape-1 {
    bottom: -200px;
    left: -150px;
    width: 900px;
    transform: rotate(20deg);
}

.shape-2 {
    top: -150px;
    right: -150px;
    width: 600px;
    transform: rotate(-15deg);
}

.shape-3 {
    top: 200px;
    width: 800px;
    transform: rotate(50deg);
}

.shape-4 {
    right: 0px;
    bottom: 100px;
    width: 800px;
    transform: rotate(230deg);
}

.user-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.option-icon {
    width: 24p;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.lesson-completed-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* Divs y contenedores */

.login-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-card {
    background-color: var(--languide-white);
    padding: 40px 50px;
    border: solid var(--languide-blue) 1px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease, opacity 0.4s ease;
}

.login-card h2 {
    margin-bottom: 25px;
    font-weight: 600;
    color: var(--languide-main-text);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

header, .nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--languide-white);
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 80px 0px 80px;
}

.nav-elements {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 100px;

}

.nav-elements a {
    text-decoration: none;
    color: var(--languide-blue);
    font-weight: bold;
    transition: color 0.3s;
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    z-index: 0;
}

.content-container {
    border: solid var(--languide-blue) 1px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 50%;
    min-height: 70vh;
    margin-top: 60px;
    background-color: var(--languide-white);
}

.progress-status {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.progress-container {
    width: 30%;
    height: 7px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--languide-blue);
    width: 0%;
    transition: width 0.5s ease;
}

.progress-days {
    width: 55%;
    margin-top: 0px;
    display: flex;
    flex-direction: column;
}

.progress-day-info {
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-top: 15px;
    margin-left: 10px;
}

.question-progress {
    margin-top: 20px;
}

.answers {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 22.5px;
}

.question-feedback {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Botones */

.btn-primary {
    background-color: var(--languide-blue);
    color: var(--languide-white);
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
    max-width: 200px;
}

.btn-primary:hover {
    background-color: #0056d4;
}

.login-form > .btn-primary {
    border:none;
    margin: 0 auto;
    width: 100%;
}

.btn-secondary {
    border: 2px solid var(--languide-blue);
    color: var(--languide-blue);
    background-color: var(--languide-white);
    padding: 10px 23px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    max-width: 200px;
}

.btn-secondary:hover {
    background-color: var(--languide-blue);
    color: var(--languide-white);
}

.content-button {
    margin-top: 30px;
    width: 180px;
    text-align: center;
}

.option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.3s ease;
    height: 30px;
    width: 180px;
    cursor: pointer;
}

.option.selected {
    background-color: var(--languide-blue);
    color: var(--languide-white);
}

.option.selected:hover {
    background-color: var(--languide-blue);
    color: var(--languide-white);
}

.play-lesson {
    border-radius: 50px;
    border: none;
    margin-left: 20px;
    background-color: var(--languide-blue);
    color: var(--languide-white);
    height: 20px;
    width: 20px;
    font-size: 0.5em;
}

.selected.wrong {
    background-color: var(--languide-wrong);
    color: var(--languide-white);
}

.selected.correct {
    background-color: var(--languide-correct);
    color: var(--languide-white);
}

/* Labels e inputs */

.login-form > label {
    font-size: 0.9rem;
    color: var(--languide-gray);
}

.login-form > input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
}

.login-form > input:focus {
    border-color: var(--languide-blue);
}

.container-title {
    font-size: 1.4em;
    font-weight: 600;
    padding-right: 20px;
}

.centered {
    padding: 0px;
}

.options-title {
    padding-top: 10px;
}

.progress-percentage {
    color: var(--languide-gray);
    font-weight: 600;
    font-size: 0.9em;
    padding-left: 5px;
}

.progress-days label {
    font-size: 1.2em;
}

.day-lesson-name {
    width: 200px;
}

.completed {
    color: var(--languide-correct);
}

.pendant {
    color: var(--languide-wrong);
}

.question {
    margin-top: 20px;
}

.feedback {
    margin-top: 20px;
}

.wrong {
    color: var(--languide-wrong);
}

.correct {
    color: var(--languide-correct);
}


/* Links */

.login-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-links > a {
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;
}

.login-links a:hover {
    color: var(--languide-blue);
    text-decoration: underline;
}

@media (max-width: 480px) {

}