/* Variables */

:root {
    --languide-blue: #008cff;
    --languide-dark-blue: #0056d4;
    --languide-white: #ffffff;
    --languide-main-text: #000000;
    --languide-secondary-text: #787878;
    --languide-gray: #555555;
    --languide-correct: #00DD00;
    --languide-completed: #2c802c;
    --languide-wrong: #C8102E;
}

/* HTML y cuerpos de página */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
}

.landing-page-body {
    background-color: var(--languide-white);
    color: var(--languide-main-text);
    overflow: hidden;
}

html,
.login-page-body {
    width: 100%;
    height: 100%;
    background-color: var(--languide-white);
    overflow-x: clip;
    overflow-y: scroll;
}

.login-page-body {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
    width: 100vw;
}

/* Imágenes y figuras*/

.bg-shape {
    position: fixed;
    z-index: 0;
    opacity: 0.9;
    pointer-events: none;
    user-select: none;
    max-width: none;
    will-change: transform;
}

.shape-1 {
    bottom: -200px;
    left: -150px;
    width: 900px;
    transform: rotate(20deg);
}

.shape-2 {
    top: -150px;
    right: -150px;
    width: 600px;
    transform: rotate(-15deg);
}

.shape-3 {
    top: 200px;
    width: 800px;
    transform: rotate(50deg);
}

.shape-4 {
    right: 0px;
    bottom: 100px;
    width: 800px;
    transform: rotate(230deg);
}

.user-pic {
    width: 70px;
    height: 70px;
    border-radius: 50%;
}

.option-icon {
    width: 24px;
    height: 24px;
    object-fit: contain;
    margin-right: 8px;
    display: inline-block;
    vertical-align: middle;
}

.lesson-completed-img {
    width: 200px;
    height: 200px;
    object-fit: contain;
}

/* Divs y contenedores */

.login-container {
    position: relative;
    z-index: 1;
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
    box-sizing: border-box;
}

.login-card {
    background-color: var(--languide-white);
    padding: 40px 50px;
    border: solid var(--languide-blue) 1px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    width: 100%;
    text-align: center;
    transition: transform 0.2s ease, opacity 0.4s ease;
}

.login-card h2 {
    margin-bottom: 25px;
    font-weight: 600;
    color: var(--languide-main-text);
}

.login-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    text-align: left;
}

header, .nav-bar {
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--languide-white);
}

.nav-bar {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 10px 80px 0px 80px;
}

.nav-elements, .nav-links {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
}

.nav-elements a, .nav-links a {
    text-decoration: none;
    color: var(--languide-blue);
    font-weight: bold;
    font-size: 1.1rem;
    transition: color 0.3s;
}

.nav-elements a:hover, .nav-links a:hover {
    color: var(--languide-dark-blue);
}

.content {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 90px;
    z-index: 0;
}

.content-container {
    border: solid var(--languide-blue) 1px;
    border-radius: 12px;
    box-shadow: 0 10px 40px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    align-items: center;
    width: 50%;
    min-height: 70vh;
    margin-top: 60px;
    background-color: var(--languide-white);
}

.progress-status-container {
    display: flex;
    width: 100%;
    align-items: center;
}

.option-group {
    display: flex;
}

.progress-status {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 0px;
}

.progress-info {
    width: 50%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-left: 1rem;
}

.progress-container {
    width: 100%;
    height: 7px;
    background-color: #e0e0e0;
    border-radius: 10px;
    overflow: hidden;
}

.progress-bar {
    height: 100%;
    background-color: var(--languide-blue);
    width: 0%;
    transition: width 0.5s ease;
}

.progress-days {
    margin-top: 0px;
    display: flex;
    flex-direction: row;
    gap: 30px;
    width: 90%;
    justify-content: center;
}

.days {
    display: flex;
    flex-direction: column;
    gap: 11.2px;
    margin-top: 20px;
    margin-left: 10px;
}

.days-statuses {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 15px;
    margin-left: 10px;
}

.day-info {
    display: flex;
    align-items: center;
}

.play-buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 14.4px;
    margin-top: 15px;
}

.question-progress {
    margin-top: 20px;
}

.answers {
    margin-top: 30px;
    display: flex;
    flex-direction: column;
    gap: 22.5px;
}

.question-feedback {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

/* Botones */

.btn-primary {
    background-color: var(--languide-blue);
    color: var(--languide-white);
    padding: 12px 25px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: background 0.3s ease;
    max-width: 200px;

    border: none;
    font-family: 'Oswald', sans-serif;
    font-size: 1rem;
    cursor: pointer;
    display: inline-block;
    text-align: center;
    line-height: normal;
    appearance: none;
}

.btn-primary.recovery{
    margin-top: 30px;
}

.btn-primary:hover {
    background-color: var(--languide-dark-blue);
}

.login-form > .btn-primary {
    border:none;
    margin: 0 auto;
    width: 100%;
}

.btn-secondary {
    border: 2px solid var(--languide-blue);
    color: var(--languide-blue);
    background-color: var(--languide-white);
    padding: 10px 23px;
    border-radius: 8px;
    text-decoration: none;
    font-weight: 600;
    transition: all 0.3s ease;
    max-width: 200px;
}

.btn-secondary:hover {
    background-color: var(--languide-blue);
    color: var(--languide-white);
}

.content-button {
    margin-top: 30px;
    width: 180px;
    text-align: center;
}

.option {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    margin: 0 10px;
    text-decoration: none;
    text-align: center;
    font-weight: 600;
    font-size: 1rem;
    transition: background 0.3s ease;
    height: 50px;
    width: 180px;
    cursor: pointer;
}

.option.selected {
    background-color: var(--languide-blue);
    color: var(--languide-white);
}

.option.selected:hover {
    background-color: var(--languide-blue);
    color: var(--languide-white);
}

.play-lesson {
    border-radius: 50px;
    border: none;
    margin-left: 20px;
    margin-top: 5px;
    background-color: var(--languide-blue);
    color: var(--languide-white);
    height: 20px;
    width: 20px;
    font-size: 0.5em;
    transition: background 0.3s ease;
}

.play-lesson:hover {
    background-color: var(--languide-dark-blue);
}

.exit-lesson-btn {
    border: none;
    background-color: var(--languide-white);
    font-size: 2rem;
    color: var(--languide-blue);
    margin-right: 30px;
    margin-top: 5px;
    cursor: pointer;
}

.selected.wrong {
    background-color: var(--languide-wrong);
    color: var(--languide-white);
}

.selected.correct {
    background-color: var(--languide-correct);
    color: var(--languide-white);
}

/* Labels e inputs */

.login-form > label {
    font-size: 0.9rem;
    color: var(--languide-gray);
}

.login-form > input {
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    transition: border 0.3s ease;
}

.login-form > input:focus {
    border-color: var(--languide-blue);
}

.container-title {
    font-size: 1.4em;
    font-weight: 600;
}

.progress-page-body.progress-status > p {
    margin-left: 2rem;
}

.centered {
    padding: 0px;
}


.progress-percentage {
    color: var(--languide-gray);
    font-weight: 600;
    font-size: 0.9em;
    margin-left: 1rem;
}

.progress-days label {
    font-size: 1.2em;
}

.completed {
    color: var(--languide-completed);
}

.pendant {
    color: var(--languide-wrong);
}

.question {
    margin-top: 20px;
}

.feedback {
    margin-top: 20px;
}

.wrong {
    color: var(--languide-wrong);
}

.correct {
    color: var(--languide-correct);
}


/* Links */

.login-links {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.login-links > a {
    font-size: 0.9rem;
    color: #555;
    text-decoration: none;
}

.login-links a:hover {
    color: var(--languide-blue);
    text-decoration: underline;
}

/* Slider para opciones de setup*/

.slider {
    display: none;
    align-items: center;
    gap: 10px;
}

.slider-window {
    width: 200px;
    overflow: hidden;
}

.slider-track {
    display: flex;
    gap: 10px;
    transition: transform 0.3s ease;
}

.slider-window button {
    min-width: 180px;
    width: auto;
    height: 50px;
    cursor: default;
}

.slider-window button:hover {
    background-color: var(--languide-white);
    color: var(--languide-blue);
}

.arrow {
    background: none;
    border: none;
    font-size: 1.3rem;
    cursor: pointer;
    color: var(--languide-blue);
    transition: color 0.3s ease;
}

.arrow:hover {
    color: var(--languide-dark-blue);
}

/* Menú de hamburguesa */

.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background: var(--languide-white);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 30px;
    gap: 30px;
    z-index: 2000;
}

.logo {
    font-size: 1.6rem;
    font-weight: 700;
    color: var(--languide-blue);
}

.nav-desktop ul {
    list-style: none;
    display: flex;
    gap: 40px;
}

.nav-desktop a {
    text-decoration: none;
    color: var(--languide-blue);
    font-size: 1.1rem;
    font-weight: 600;
}

.nav-desktop a:hover {
    color: var(--languide-dark-blue);
}

.hamburger {
    display: none;
    width: 30px;
    height: 22px;
    cursor: pointer;
    flex-direction: column;
    justify-content: space-between;
    z-index: 5000;
}

.hamburger span {
    display: block;
    background: var(--languide-blue);
    height: 3px;
    width: 100%;
    border-radius: 5px;
    transition: transition 0.4s;
    z-index: 5000;
}

.nav-mobile {
    position: fixed;
    top: 0;
    right: -100%;
    width: 40%;
    height: 100vh;
    background: var(--languide-white);
    display: flex;
    justify-content: center;
    align-items: center;
    transition: right 0.35s ease;
    z-index: 4000;
}

.nav-mobile.open {
    right: 0;
}

.nav-mobile ul {
    list-style: none;
    display: flex;
    flex-direction: column;
    top: 0;
    gap: 22px;
    padding: 0 28px;
    margin-bottom: 350px;
}

.nav-mobile a {
    text-decoration: none;
    font-size: 1.5rem;
    color: var(--languide-blue);
    font-weight: 600;
    transition: color 0.3s;
}

.nav-mobile a:hover {
    color: var(--languide-dark-blue);
}

.nav-overlay {
    position: fixed;
    inset: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.35);
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
    z-index: 3000;
}

.nav-overlay.open {
    opacity: 1;
    pointer-events: auto;
}

@media (max-width: 1240px) {
    .slider {
        display: flex;
    }
    .option-group {
        display: none;
    }
}

@media (max-width: 768px) {
    .nav-desktop {
        display: none;
    }

    .hamburger {
        display: flex;
    }

    .nav-mobile {
        width: 50% !important;
        max-width: 350px;
        right: -350px;
    }

    .nav-mobile.open {
        right: 0;
    }

    .user-pic {
        width: 100px;
        height: 100px;
        border-radius: 50%;
    }

    .slider-window {
        width: 100%;
        max-width: 200px;
        margin: 0 auto;
    }

    .slider-track {
        gap: 10;
    }

    .slider-window button {
        min-width: 100%;
        width: 100%;
    }

    .bg-shape {
        display: block !important;
        opacity: 0.5; 
        position: absolute;
    }

    .shape-3 {
        top: -150px !important;
        left: -150px !important;
        width: 350px !important;
        transform: rotate(50deg);
    }

    .shape-4 {
        right: -150px !important;
        bottom: -100px !important;
        width: 300px !important;
        transform: rotate(230deg);
    }

    .content {
        margin-top: 0;
        padding: 20px;
        z-index: 1;
        align-items: center;
        min-height: 100vh;
    }

    .content-container {
        width: 100%;
        min-height: auto;
        margin-top: 0 auto;
        padding: 25px 20px 50px 20px;
        border: none;
        flex-direction: column;
        gap: 15px;
        background-color: var(--languide-white);
        z-index: 2;
    }

    .login-container {
        padding: 20px;
        z-index: 1;
    }
    .login-card {
        padding: 30px 25px;
        border: none;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.05);
        z-index: 2;
    }

    .container-title {
        text-align: center;
        width: 100%;
    }

    .btn-secondary.option {
        width: 100%;
        margin: 0;
        justify-content: center;
        text-align: center;
        padding: 12px 15px;
        height: auto;
    }

    .question-page-body .btn-secondary.option {
        width: 180px;
    }

    .options-title {
        width: 100%;
        text-align: center;
    }

    .progress-status {
        align-items: center;
        justify-content: center;
        flex-direction: column;
        gap: 10px;
    }

    .progress-status p {
        margin-left: 0;
    }

    .progress-percentage {
        padding-left: 1rem;
    }

    .progress-container {
        width: 90%;
    }

    .progress-days {
        width: 100%;
        margin-top: 20px;
    }

    .content-button {
        max-width: none;
    }

    .btn-primary.content-button {
        padding: 15px;
        font-size: 1.1em;
        border-radius: 10px;
    }

    .progress-day-info {
        display: flex;
        flex-direction: row;
        gap: 1vw;
        margin-top: 15px;
        margin-left: 1px;
    }

    .play-lesson {
        border-radius: 50px;
        border: none;
        background-color: var(--languide-blue);
        color: var(--languide-white);
        height: 20px;
        width: 20px;
        font-size: 0.5em;
    }
}
